.container {
	width: clamp(280px, 80%, 1000px);
	margin: auto;
	padding: 1rem 0;
	border-bottom: 5px solid grey;
}

.container:last-of-type,
.container:last-of-type:hover {
	border: none;
}

.container:hover {
	border-bottom: 5px solid var(--secondary);
}

.title {
	background: var(--primary);
	padding: 1rem 2rem;
	border-left: 15px solid transparent;
	color: var(--light);
	transition: border-left 0.5s ease-in-out;
	line-height: 1.5;
	cursor: pointer;
	font-size: clamp(auto, 1.5rem, 2rem);
}

.title:hover {
	border-left: 15px solid var(--secondary);
	background: var(--dark);
	text-decoration: underline;
	text-decoration-color: var(--primary);
	text-decoration-thickness: 2px;
}

.author {
	align-self: flex-end;
	margin: 1rem 0;
}

.description {
	width: 100%;
}

.description::first-letter {
	font-weight: 700;
	font-size: 8vmin;
	padding: 0.02em;
	/* float: left; */
	line-height: 1.5rem;
	color: var(--primary);
	margin: -0.2em 0;
}

.link {
	color: var(--secondary);
	font-weight: 700;
	padding: 0 0.5rem;
	border-left: 5px solid transparent;
	transition: border-left 0.5s ease-in-out;
	align-self: flex-end;
	cursor: pointer;
}

.link:hover {
	border-left: 5px solid var(--secondary);
	text-decoration: underline;
	text-decoration-color: var(--dark);
	text-decoration-thickness: 2px;
	color: var(--primary);
}

.article {
	width: clamp(280px, 60%, 1000px);
	margin: 1rem auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.left {
	align-self: flex-start;
}
